@model IEnumerable<TriggerfishCodingChallenge.Models.Article>

@{
    ViewBag.Title = "Coding Challenge";
}

<div class="container">
    <div class="row add-background-color-padding-top">
        @foreach (var item in Model)
        {
        <div class="col-md-4">
            <img src="@item.ImageUrl" alt="@item.Title" width="100%" height="200">
            <span>@item.ReadingTime minute read</span>
            <h4><strong>@item.Title</strong></h4>
            <p>
                @item.Description
            </p>

            <a class="btn btn-link button-remove-left-padding" href="#">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                 <span class="text-black-color"><strong>Read Our Insight</strong></span>
            </a>
        </div>
        }
    </div>
</div>
